<div class="picsum-img-wrapper">
    <img  class="rounded d-block mx-auto" src="../../assets/banner.jpg" alt="Home Tution">
    <div class="centered">
      <h1 > Be Better. Learn Better </h1>
      <h2> If you are determined to learn no one can stop you.</h2>
      <h3> Here we are to produce the best come out from a student </h3>
      <br>
      <br>
      <div class="text-center">
        <button class="btn btn-primary btn-sx" type="button">
            Join Us
        </button>
      </div>
    </div>
  </div>

